*

!.gitignore

!wp-content/
!wp-content/themes/
!wp-content/plugins/

!wp-content/themes/headless
!wp-content/plugins/spm
!wp-content/themes/headless/**
!wp-content/plugins/spm/**

wp-content/uploads/
wp-content/themes/headless/twillio

wp-config.php
wp-config-*.php

node_modules/
vendor/
dist/
build/

wp-content/cache/
wp-content/backups/

.DS_Store
Thumbs.db

*.log

.env